<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <title>openMarchante</title>
        <link rel="stylesheet" href="css/main.css">
</head>
<body>
        <header id="barsup">
        <aside id="moneda">$V</aside>
                <nav id="menustat">Tel|User|Deseos|Carrito|Salir</nav>
                <div class="reset"></div> <!--Considerar este encabezado como una barra de estado superior-->
</header>
<article>
        <header>
                <img src="img/logo.png" alt="logo">
                <form action="index.html" method="get">
                        <input type="text" name="busqueda" value="palabras" required placeholder="¿Que buscas?">
                        <input type="submit" value="[icon]">
                </form>
                <aside id="CarStatus">
                        [icon] 0 item(S) - $0.00
                </aside>
        </header>
        <nav>
                <ul>
                        <li>
                                Desktops
                                <ul>
                                        <li>PC</li>
                                        <li>MAC</li>
                                        <li class="sep"></li>
                                        <li>Ver todo</li>
                                </ul>
                        </li>
                        <li>Laptops y Notebooks
                        <ul>
                                <li>(0)</li>
                                <li>(1)</li>
                                <li class="sep"></li>
                                <li>Ver todo</li>
                        </ul>
                        </li>
                        <li>Componentes
                                <ul>
                                        <li>Ratones</li>
                                        <li>Monitores</li>
                                        <li>Impresoras</li>
                                        <li>Scanners</li>
                                        <li class="sep"></li>
                                        <li>Ver todo</li>
                                </ul>
                        </li>
                        <li>Tablets</li>
                        <li>Software</li>
                        <li>Smartphones</li>
                        <li>Camaras</li>
                        <li>Reproductores MP3
                        <ul>
                                <li>test 1(0)</li>
                                <li>test 2(0)</li>
                                <li>test 3(0)</li>
                                <li>test 4(0)</li>
                                <li>test 5(0)</li>
                                <li>test 6(0)</li>
                                <li>test 7(0)</li>
                                <li>test 8(0)</li>
                                <li>test 9(0)</li>
                                <li class="sep"></li>
                                <li>Ver todo</li>
                        </ul></li>
                </ul>
        </nav>
        <header id="ruta">
                [icon house|inicio] > laptops y Notebooks >
        </header>
        <section>
<!--contenido principal-->
       <div id="banner">
               colocar imagen del tamaño de banner
       </div>
       <div id="ofertas">
               <h3>OFERTAS</h3>
               <aside>
                       <img src="img/productos/0001.jpg" alt="macbook">
                       <h4>Macbook</h4>
                       <p>Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</p>
                       <p><strong>$16002.00</strong></p>
                       <div class="barinf">
                               <aside>[icon car] Adicionar a carrito</aside>
                               <aside>[icon heart] Adicionar a lista de deseos</aside>
                       </div>
               </aside>
               <aside>
                       <img src="img/productos/0002.jpg" alt="Iphone">
                       <h4>Iphone</h4>
                       <p>iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..

                       </p>
                       <p><strong>$12300.00</strong></p>
                       <div class="barinf">
                               <aside>[icon car] Adicionar a carrito</aside>
                               <aside>[icon heart] Adicionar a lista de deseos</aside>
                       </div>
               </aside>
               <aside>
                       <img src="img/productos/0003.jpg" alt="monitor">
                       <h4>Apple Cinema 30</h4>
                       <p>The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</p>
                       <p><strong>$11000.00</strong></p>
                       <div class="barinf">
                               <aside>[icon car] Adicionar a carrito</aside>
                               <aside>[icon heart] Adicionar a lista de deseos</aside>
                       </div>
               </aside>
               <aside>
                       <img src="img/productos/0004.jpg" alt="camara">
                       <h4>Canon EOS 5D</h4>
                       <p>Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>
                       <p><strong>$$9800.00</strong></p>
                       <div class="barinf">
                               <aside>[icon car] Adicionar a carrito</aside>
                               <aside>[icon heart] Adicionar a lista de deseos</aside>
                       </div>
               </aside>
       </div>
       <div id="marcas">
               <div>
                       <img src="img/marcas/001.jpg" alt="marca 1">
                       <img src="img/marcas/002.jpg" alt="marca 2">
                       <img src="img/marcas/003.jpg" alt="marca 3">
               </div>
       </div><!--este es un slider de marcas-->
        </section>
</article>
<foote>
        <aside>
                <h3>Información</h3>
                <ul>
                        <li>Acerca de</li>
                        <li>Información de Envio</li>
                        <li>Politicas de Privacidad</li>
                        <li>Terminos y Condiciones</li>
                </ul>
        </aside>
        <aside>
                <h3>Servicio al CLiente</h3>
                <ul>
                        <li>Contacto</li>
                        <li>Devoluciones</li>
                </ul>
        </aside>
        <aside>
                <h3>Extras</h3>
                <ul>
                        <li>Marca</li>
                        <li>Sugerencias</li>
                        <li>Afiliados</li>
                        <li>Especiales</li>
                </ul>
        </aside>
        <aside>
                <h3>Mi Cuenta</h3>
                <ul>
                        <li>Mi cuenta</li>
                        <li>Historial de pedidos</li>
                        <li>Lista de deseos</li>
                        <li>Noticias</li>
                </ul>
        </aside>
</foote>
<!--        si es necesario aca incluimos los script en JS-->
<script></script>
</body>
</html>