<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>openBlackCAt</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="grafitroqueil.ico" />
    <link rel="author" type="text/plain" href="humans.txt"/>
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="shortcut icon" href="img/logo_tripas.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>

    <script>
      $(window).load(function(){
          $(".flexslider").flexslider();
      });
    </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header id="barsup">
        <aside id="moneda"><i class="fa fa-usd"></i><span>Curency</span><i class="fa fa-caret-down"></i></aside>
        <nav id="menustat"> 
        <i class="fa fa-phone"><span>5530363678</span></i>
        <a href="login.html"><i class="fa fa-user"><span>Usuario</span></i></a>
        <i class="fa fa-heart"><span>Deseos</span></i>
        <a href="carrito.html"><i class="fa fa-shopping-cart"><span>Compras</span></i></a>
        <i class="fa fa-sign-out"><span>Cerrar Sesión</span></i>
        </nav>
        <div class="reset"></div>
        <!--Considerar este encabezado como una barra de estado superior-->
    </header>
    <article>
        <header>
            <a href="index.html"><img class="logo" src="img/logo_tripas.png"  alt="logo"></a>
            <div id="Status">
            <aside id="CarStatus">
                <a class="colrosa"><i class="fa fa-shopping-basket"></i></a>
                0 item(S) 
                0.00
                <a class="colrosa"><i class="fa fa-usd"></i></a>
            </aside>
            <aside id="premStatus">
                <a class="colrosa"><i class="fa fa-diamond"></i></a> Hazte premiun
            </aside>
            <aside id="userStatus">
                <a class="colrosa"><i class="fa fa-user-secret"></i></a>
                Aura Paulina S..
            </aside>
            </div>

            <form action="index.html" method="get">
                <button id="submit" type="submit"><i class="fa fa-search"></i>
                </button><input id="busqueda" type="text" name="busqueda" value="Buscar X marca U objeto" required placeholder="¿Que buscas?" />
            </form>
        </header>
        <nav>
            <ul>
                <li><a>JOYERIA</a>
                    <ul>
                        <li><a href="">Aretes</a></li>
                        <li><a href="">Collares</a></li>
                        <li><a href="">Anillos</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ROPA</a>
                    <ul>
                        <li><a href="">Dama</a></li>
                        <li><a href="">Caballero</a></li>
                        <li><a href="">Niñas</a></li>
                        <li><a href="">Niños</a></li>
                        <li><a href="">Bebes</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">DECORACION</a>
                    <ul>
                        <li><a href="">Arte y objetos de coleccion</a></li>
                        <li><a href="">Almacenamiento y organizacion</a></li>
                        <li><a href="">Iluminacion</a></li>
                        <li><a href="">Exteriores</a></li>
                        <li><a href="">Muebles</a></li>
                        <li><a href="">Oficina</a></li>
                        <li><a href="">Cosina y comedor</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ARTE</a>
                    <ul>
                        <li><a href="">Ilustraciones</a></li>
                        <li><a href="">Pintura</a></li>
                        <li><a href="">Escultura</a></li>
                        <li><a href="">Fotografia</a></li>
                        <li><a href="">Artesanias</a></li>
                    </ul>
                </li>
                <li><a href="">JUGUETES</a>
                    <ul>
                        <li><a href=""></a>Deportes y esparcimiento</li>
                        <li><a href=""></a>Juegos de mesa</li>
                        <li><a href=""></a>Educativos y pedagógicos</li>
                        <li><a href=""></a>Peluches y marionetas</li>
                        <li><a href=""></a>Disfraces</li>
                        <li><a href=""></a>Mi primer juguete</li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ACCESORIOS</a>
                    <ul>
                        <li><a href="">Fundas y carcasas</a></li>
                        <li><a href="">Gafas </a></li>
                        <li><a href="">Sombreros y gorras</a></li>
                        <li><a href="">Llaveros</a></li>
                        <li><a href="">Parches y pines</a></li>
                        <li><a href="">Stickers</a></li>
                        <li><a href="">Globos de cantolla</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">CALZADO</a>
                    <ul>
                        <li><a href="">Dama</a></li>
                        <li><a href="">Caballero</a></li>
                        <li><a href="">Niñas</a></li>
                        <li><a href="">Niños</a></li>
                        <li><a href="">Bebes</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><strong><a href="">"NUEVOS PRODUCTOS"</a></strong>
                    <ul>
                        <li>Servicios:</li>
                        <li><a href="">Sublimacion</a></li>
                        <li><a href="">Serigrafia</a></li>
                        <li><a href="">Diseño grafico</a></li>
                        <li><a href="">Chocolateria</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="categorias.html">Todas las categorias</a></li>
                <li><a href="productos.html">Todos los productos</a></li>
            </ul>
            <div class="reset"></div>
        </nav>
        <header id="ruta">
            <i class="fa fa-home"></i>  laptops y Notebooks
        </header>
        <section id="pagLOG">
            <!--contenido PAGINA login-->
            
                <div id="hrefRegistro">
                    <h1>Cliente nuevo</h1>
                    <p>Al crear una cuenta podrá realizar sus compras rapidamente, revisar el estado de un pedido, y realizar un seguimiento de las órdenes de sus operaciones anteriores.</p>
                    <a href="registro.html"><i class="fa fa-user-plus"></i> Registrarse</a>
                </div>
                <div id="login"><!--  login -->
                   <form action="index.php" method="POST">
                       <h1>Soy cliente</h1>
                       <p>Podrá realizar sus compras rapidamente 
                        </br>
                        Solo ingrese su usuario y su contraseña.</p>
                      <!-- recuadros txt-->
                      
                       <span class="input-group-addon"><i class="fa fa-user"></i></span><input  type="text" placeholder="Escribe tu usuario" name="usuario" required />
            <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span><input class="logiIn" id="pass" type="password" placeholder="Escribe tu contraseña "name="contraseña" required onkeyup="valida()" />
                        <!-- texto contraseña-->
                            <div id="aviso" ></div>
                            <div id="aviso1" ></div>
                            <div id="aviso2" ></div>
                            <div id="aviso3" ></div>
                        <!-- href a-->
		              <button class="buton" id="comprobar" type="submit" onkeyup="validar()"><i class="fa fa-sign-in"></i>  Ingresar  </i></button
	               </form>
                </div>
                <div id="menu">
                    <a class="lo" href="login.html"><i class="fa fa-sign-in"></i> Login  </i></a>
                
                    <a class="re" href="registro.html" ><i class="fa fa-user-plus"></i> Registro  </i></a>
                 </div> 
                 
            <!--ternina login-->
             <div class="reset"></div>
        </section>
    </article>
    <footer>
       <section class="pie" >
        <aside>
            <h3>Información</h3>
            <ul>
                <li><a href="">¿Qué es Tripas Creativas?</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Compromiso solidario</a></li>
                <li><a href="">Condiciones de uso</a></li>
                <li><a href="">Información de Envio</a></li>
                <li><a href="">Privacidad y cookies</a></li>
                <li><a href="">Terminos y Condiciones</a></li>
            </ul>
        </aside>
        <aside>
            <h3>Servicio al CLiente</h3>
            <ul>
              <li><a href="">Ayuda</a></li>
               <li><a href="">Premiun</a></li>
               <li><a href="">Afiliados</a></li>
               <li><a href="">Devoluciones</a></li> 
               <li><a href="">Contacto</a></li>           
            </ul>
        </aside>
        <aside>
            <h3>Extras</h3>
            <ul>
                <li><a href="">Prensa y comunicación</a></li>
                <li><a href="">Contacto para Marcas</a></li>
                <li><a href="">Sugerencias</a></li>
            </ul>
        </aside>
        <aside>
            <h3>Mi Cuenta</h3>
            <ul>
                <li><a href="">Mi cuenta</a></li>
                <li><a href="">Historial de pedidos</a></li>
                <li><a href="">Lista de deseos</a></li>
                <li><a href="">Noticias</a></li>
            </ul>
        </aside>
        <div>
            <h1>Tripas Creativas</h1>
        </div>
        
        <div class="reset"></div>
        <hr/>
        <aside>
            
            <ul>
                <li class="iconFoterv"><i class="fa fa-users"></i>Equipo:</li>
                <li class="iconFoterr"><i class="fa fa-star"></i><a class="fotex">Aura Suárez C.</a></li>
                <li class="iconFoterv"><i class="fa fa-camera-retro"></i><a class="fotex">Alejandro Garcia R.</a></li>
                <li class="iconFoterr"><i class="fa fa-reddit-alien"></i><a class="fotex">Patricia Sanchez R.</a></li>
                <li class="iconFoterv">TDW2.0</li>
                
            </ul>
        </aside>
        <aside>
            
            <ul>
              <li><a class="iconFote" href=""><i class="fa fa-facebook-square"></i></a>
                  <a class="iconFot" href=""><i class="fa fa-twitter-square"></i></a>
                  <a class="iconFote" href=""><i class="fa fa-rss-square"></i></a>
              </li>
               
               <li>
                  <a class="iconFot" href=""><i class="fa fa-youtube-square"></i></a> 
                  <a class="iconFote" href=""><i class="fa fa-instagram"></i></a> 
                  <a class="iconFot" href=""><i class="fa fa-google-plus-square"></i></i></a>
                </li>          
            </ul>
        </aside>
        <aside>
            
            <ul>
                <li>
                    <a class="iconFote" href=""><i class="fa fa-apple"></i></a>
                    <a class="iconFot" href=""><i class="fa fa-android"></i></a>
                    <a class="iconFote" href=""><i class="fa fa-windows"></i></i></a>
                </li>
            </ul>
        </aside>
        <aside>
            <ul>
                <li>
                    <a class="iconFot" href=""><i class="fa fa-cc-paypal"></i></a>
                    <a class="iconFote" href=""><i class="fa fa-cc-visa"></i></a>
                    <a class="iconFot" href=""><i class="fa fa-cc-mastercard"></i></a>
                </li>
            </ul>
        </aside>
        <div>
            <h4>Tripas Creativas es la tienda en linea lider en mexico 2016</h4>
        </div>
        
        
        <div class="reset"></div>
        </section>
    </footer>
    <!--        si es necesario aca incluimos los script en JS-->
     <script>
             function tieneMinuscula(pass) {
                /* Este bloque analiza el contenido de pass para ver si tiene
                   una minúscula, si es así entonces regresa un valor de true,
                   si no hay una minúscula en todo el pass entonces regresa un
                   valor de false */

                /* minus tiene todas las minúsculas posibles */
                var minus = "abcdefghijklmnñopqrstwxyz";
                /* Primero hay que obtener cada símbolo del pass escrito por
                   el usuario */
                for(i=0; i<pass.length; i+=1) {
                    /* Hacemos que i vaya variando desde 0 hasta el último
                       símbolo o letra de pass, así que pass[i] tiene el
                       símbolo que tenemos que analizar */
                       if(minus.search(pass[i]) > -1) {
                           /* minus.search(algo) busca lo que uno ponga entre
                              paréntesis dentro de la cadena o string, en este
                              caso se busca lo que tenga pass[i], si la búsqueda
                              es existosa, quiere decir que encontramos una
                              minúscula y el pass pasaría esta prueba, así que
                              entonces regresamos un valor true */
                            return true;
                       }
                } /* termina for() */

                /* Si llegamos hasta acá quiere decir que ya revisamos todas
                   las letras del password y no encontramos una minúscula,
                   así que regresamos un valor de false, ya que el pass no
                   cumple con la prueba. */
                return false;
            } /* termina function tieneMinuscula(pass) */
            
            function tieneMayuscula(pass) {
                var mayus = "ABCDEFGHIJKLMNÑOPQRSTWXYZ";
                for(i=0; i<pass.length; i++) {
                       if(mayus.search(pass[i]) > -1) {
                            return true;
                       }  
                } 
                return false;
            } /* termina function tieneMayucsula(pass) */

            function tieneNumero(pass) {
                var numers = "0123456789";
                for(i=0; i<pass.length; i+=1) {
                       if(numers.search(pass[i]) > -1) {
                            return true;
                       }  
                } 
                return false;
            } /* termina function tieneNumero(pass) */

            function valida() {
                /* Realiza la acción de validar el pass */

                /* var pass es equivalente al camp input del password del html */
                var pass = document.getElementById('pass').value;
                /* long será la longitud del password escrito por el usuario */
                var long = pass.length;
                var input = document.getElementById('pass');
                var ingresar = document.getElementById('comprobar');

               /* Este if valida la longitud correcta del pass */
                if(long >=6) {
                    /* Botón en verde activo */
                    input.style.backgroundColor = "rgba(13, 132, 94, 0.54)";
                    ingresar.disabled=false;
                    aviso.innerHTML="";
                } else {
                    /* Botón en rojo inactivo */
                    input.style.backgroundColor = "rgba(169, 21, 71, 0.53)";
                    ingresar.disabled=true;
                    aviso.innerHTML="<br/>Ingrese una contraseña mayor a 6 caracteres";
                } /* termina if(long>=6) */

                /* --///-- Este if valida si incluye una minúscula---////---- */
                if(tieneMinuscula(pass)) {
                    ingresar.disabled=false;
                    aviso1.innerHTML="";
                } else {
                    ingresar.disabled=true;
                    aviso1.innerHTML ="<br/>Su password debe tener una minúscula.";
                } 
                /* --///--  valida si incluye una MAYUSCULA---////---- */
                if(tieneMayuscula(pass)) {
                    ingresar.disabled=false;
                    aviso2.innerHTML="";
                } else {
                    ingresar.disabled=true;
                    aviso2.innerHTML ="<br/>Su password debe tener una MAYUSCULA.";
                } 
                /* --///--  valida si incluye un numero---////---- */
                if(tieneNumero(pass)) {
                    ingresar.disabled=false;
                    aviso3.innerHTML="";
                } else {
                    ingresar.disabled=true;
                    aviso3.innerHTML ="<br/>Su password debe tener un numero.";
                }/* --///-- termina (tieneNumero(pass))---////---- */
            } /* termina function valida() */
        </script>
         <script>

      function validar() {
        /* Realiza la acción de validar */
        var respuesta = document.getElementById('respuesta').value;
        var input = document.getElementById('respuesta');
        var comprobar = document.getElementById('comprobar');
      }
        
        </script>
</body>

</html>
