<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>openBlackCAt</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="shortcut icon" type="image/x-icon" href="grafitroqueil.ico" />
    <link rel="author" type="text/plain" href="humans.txt"/>
    <link rel="stylesheet" href="css/flexslider.css" />
    <link rel="stylesheet prefetch' href='http://cdn.foundation5.zurb.com/foundation.css">
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="shortcut icon" href="img/logo_tripas.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>

    <script>
      $(window).load(function(){
          $(".flexslider").flexslider();
      });
    </script>
    <script>
        $(document).foundation();
    </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <header id="barsup">
        <aside id="moneda"><i class="fa fa-usd"></i><span>Curency</span><i class="fa fa-caret-down"></i></aside>
        <nav id="menustat"> 
        <i class="fa fa-phone"><span>5530363678</span></i>
        <a href="login.html"><i class="fa fa-user"><span>Usuario</span></i></a>
        <i class="fa fa-heart"><span>Deseos</span></i>
        <a href="carrito.html"><i class="fa fa-shopping-cart"><span>Compras</span></i></a>
        <i class="fa fa-sign-out"><span>Cerrar Sesión</span></i>
        </nav>
        <div class="reset"></div>
        <!--Considerar este encabezado como una barra de estado superior-->
    </header>
    <article>
        <header>
            <a href="index.html"><img class="logo" src="img/logo_tripas.png"  alt="logo"></a>
            <div id="Status">
            <aside id="CarStatus">
                <a class="colrosa"><i class="fa fa-shopping-basket"></i></a>
                0 item(S) 
                0.00
                <a class="colrosa"><i class="fa fa-usd"></i></a>
            </aside>
            <aside id="premStatus">
                <a class="colrosa"><i class="fa fa-diamond"></i></a> Hazte premiun
            </aside>
            <aside id="userStatus">
                <a class="colrosa"><i class="fa fa-user-secret"></i></a>
                Aura Paulina S..
            </aside>
            </div>

            <form action="index.html" method="get">
                <button id="submit" type="submit"><i class="fa fa-search"></i>
                </button><input id="busqueda" type="text" name="busqueda" value="Buscar X marca U objeto" required placeholder="¿Que buscas?" />
            </form>
        </header>
        <nav>
            <ul>
                <li><a>JOYERIA</a>
                    <ul>
                        <li><a href="">Aretes</a></li>
                        <li><a href="">Collares</a></li>
                        <li><a href="">Anillos</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ROPA</a>
                    <ul>
                        <li><a href="">Dama</a></li>
                        <li><a href="">Caballero</a></li>
                        <li><a href="">Niñas</a></li>
                        <li><a href="">Niños</a></li>
                        <li><a href="">Bebes</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">DECORACION</a>
                    <ul>
                        <li><a href="">Arte y objetos de coleccion</a></li>
                        <li><a href="">Almacenamiento y organizacion</a></li>
                        <li><a href="">Iluminacion</a></li>
                        <li><a href="">Exteriores</a></li>
                        <li><a href="">Muebles</a></li>
                        <li><a href="">Oficina</a></li>
                        <li><a href="">Cosina y comedor</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ARTE</a>
                    <ul>
                        <li><a href="">Ilustraciones</a></li>
                        <li><a href="">Pintura</a></li>
                        <li><a href="">Escultura</a></li>
                        <li><a href="">Fotografia</a></li>
                        <li><a href="">Artesanias</a></li>
                    </ul>
                </li>
                <li><a href="">JUGUETES</a>
                    <ul>
                        <li><a href=""></a>Deportes y esparcimiento</li>
                        <li><a href=""></a>Juegos de mesa</li>
                        <li><a href=""></a>Educativos y pedagógicos</li>
                        <li><a href=""></a>Peluches y marionetas</li>
                        <li><a href=""></a>Disfraces</li>
                        <li><a href=""></a>Mi primer juguete</li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">ACCESORIOS</a>
                    <ul>
                        <li><a href="">Fundas y carcasas</a></li>
                        <li><a href="">Gafas </a></li>
                        <li><a href="">Sombreros y gorras</a></li>
                        <li><a href="">Llaveros</a></li>
                        <li><a href="">Parches y pines</a></li>
                        <li><a href="">Stickers</a></li>
                        <li><a href="">Globos de cantolla</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="">CALZADO</a>
                    <ul>
                        <li><a href="">Dama</a></li>
                        <li><a href="">Caballero</a></li>
                        <li><a href="">Niñas</a></li>
                        <li><a href="">Niños</a></li>
                        <li><a href="">Bebes</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><strong><a href="">"NUEVOS PRODUCTOS"</a></strong>
                    <ul>
                        <li>Servicios:</li>
                        <li><a href="">Sublimacion</a></li>
                        <li><a href="">Serigrafia</a></li>
                        <li><a href="">Diseño grafico</a></li>
                        <li><a href="">Chocolateria</a></li>
                        <li class="sep"></li>
                        <li><a href="" class="mas"><strong><i>Ver todo</i></strong></a></li>
                    </ul>
                </li>
                <li><a href="categorias.html">Todas las categorias</a></li>
                <li><a href="productos.html">Todos los productos</a></li>
            </ul>
            <div class="reset"></div>
        </nav>
        <header id="ruta">
            <i class="fa fa-home"></i>  laptops y Notebooks
        </header>
        <section >
            <!--contenido PAGINA -->
            <div class="wrapper">
                <div class="view">
                    <p>View as:</p>	
                    <a href="#" class="icon-grid"></a>
                    <a href="#" class="icon-list"></a>

                </div>

                <div class="products category">
                    <ul class="">
                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/00001.jpg" width="200">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>

                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/0001.png" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>

                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/001.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>

                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/01.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>
                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/1.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>

                        <li>
                            <div class="wrapimg">
                                <img src="img/productos/000001.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li> 
                           <li>
                            <div class="wrapimg">
                                <img src="img/productos/0000001.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>
                           <li>
                            <div class="wrapimg">
                                <img src="img/productos/00000001.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li> 
                           <li>
                            <div class="wrapimg">
                                <img src="img/productos/000000001.jpg" width="150">
                                <div class="addPro"> <a href="javascript:;">+ Agregar al carrito</a> 
                                </div>
                            </div>
                            <div class="titlePro">	<a href="javascript:;">Camara Holga</a>
                                <span>$ 1045.00</span>

                                <p class="descTitle">Camara fotográfica</p>
                                <p>Nueva con excelente ajuste de control para una exposición adecuada que asegura una diversión garantizada, fácil de apuntar y disparar para toda la familia.</p>
                            </div>
                        </li>                
                    </ul>
                </div>
            </div>
        
        <div class="reset"></div>
        </section>
        <!--ternina contenido PAGINA-->
        <div class="reset"></div>
        </section>
    </article>
    <footer>
        <section class="pie" >
            <aside>
                <h3>Información</h3>
                <ul>
                    <li><a href="">¿Qué es Tripas Creativas?</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Compromiso solidario</a></li>
                    <li><a href="">Condiciones de uso</a></li>
                    <li><a href="">Información de Envio</a></li>
                    <li><a href="">Privacidad y cookies</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                </ul>
            </aside>
            <aside>
                <h3>Servicio al CLiente</h3>
                <ul>
                    <li><a href="">Ayuda</a></li>
                    <li><a href="">Premiun</a></li>
                    <li><a href="">Afiliados</a></li>
                    <li><a href="">Devoluciones</a></li> 
                    <li><a href="">Contacto</a></li>           
                </ul>
            </aside>
            <aside>
                <h3>Extras</h3>
                <ul>
                    <li><a href="">Prensa y comunicación</a></li>
                    <li><a href="">Contacto para Marcas</a></li>
                    <li><a href="">Sugerencias</a></li>
                </ul>
            </aside>
            <aside>
                <h3>Mi Cuenta</h3>
                <ul>
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Historial de pedidos</a></li>
                    <li><a href="">Lista de deseos</a></li>
                    <li><a href="">Noticias</a></li>
                </ul>
            </aside>
            <div>
                <h1>Tripas Creativas</h1>
            </div>

            <div class="reset"></div>
            <hr/>
            <aside>

                <ul>
                    <li class="iconFoterv"><i class="fa fa-users"></i>Equipo:</li>
                    <li class="iconFoterr"><i class="fa fa-star"></i><a class="fotex">Aura Suárez C.</a></li>
                    <li class="iconFoterv"><i class="fa fa-camera-retro"></i><a class="fotex">Alejandro Garcia R.</a></li>
                    <li class="iconFoterr"><i class="fa fa-reddit-alien"></i><a class="fotex">Patricia Sanchez R.</a></li>
                    <li class="iconFoterv">TDW2.0</li>

                </ul>
            </aside>
            <aside>

                <ul>
                    <li><a class="iconFote" href=""><i class="fa fa-facebook-square"></i></a>
                        <a class="iconFot" href=""><i class="fa fa-twitter-square"></i></a>
                        <a class="iconFote" href=""><i class="fa fa-rss-square"></i></a>
                    </li>

                    <li>
                        <a class="iconFot" href=""><i class="fa fa-youtube-square"></i></a> 
                        <a class="iconFote" href=""><i class="fa fa-instagram"></i></a> 
                        <a class="iconFot" href=""><i class="fa fa-google-plus-square"></i></i></a>
                </li>          
            </ul>
        </aside>
    <aside>

        <ul>
            <li>
                <a class="iconFote" href=""><i class="fa fa-apple"></i></a>
                <a class="iconFot" href=""><i class="fa fa-android"></i></a>
                <a class="iconFote" href=""><i class="fa fa-windows"></i></i></a>
        </li>
    </ul>
</aside>
<aside>
    <ul>
        <li>
            <a class="iconFot" href=""><i class="fa fa-cc-paypal"></i></a>
            <a class="iconFote" href=""><i class="fa fa-cc-visa"></i></a>
            <a class="iconFot" href=""><i class="fa fa-cc-mastercard"></i></a>
        </li>
    </ul>
</aside>
<div>
    <h4>Tripas Creativas es la tienda en linea lider en mexico 2016</h4>
</div>


<div class="reset"></div>
</section>
</footer>
<!--        si 
        </article>
    <!--        si es necesario aca incluimos los script en JS-->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='http://cdn.foundation5.zurb.com/foundation.js'></script>
    <script src="js/index.js"></script>

</body>

</html>
